DATABASE_URL=postgresql://postgres:postgres@localhost:5432/resume_matcher
JWT_SECRET=b65ca72184ebc4f0d96b71388725c0c62f81d4fae7dec11d0a76500a0c91e6bf6
MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
API_BASE_URL=http://localhost:8000
